<!DOCTYPE html>
<html>



<head>
    <title>Tic-Tac-Toe</title>
    <link href="../static/output.css" rel="stylesheet">
</head>

<body class="text-center">

<h1 class="text-4xl font-bold pb-5">Tic-Tac-Toe</h1>
<!-- 
<div class="grid grid-cols-3  w-99 outline-1 outline-black mx-auto text-blue-500 rounded-3xl">
  {% for i in range(3) %}
    <div class="grid grid-rows-3 gap-3 m-5 outline-blue-500">
      {% for j in range(3) %}
      <div class="aspect-square text-center outline-2 outline-red-500 flex items-center">
          {% if board[i][j] == " - " %}
          <a href="{{ url_for('move', row=i, col=j) }}" class="w-full  text-center cursor-pointer">-</a>
          {% else %}
          {{ board[i][j] }}
          {% endif %}
      </div>
      {% endfor %}
    </div>
  {% endfor %}
</div> -->

<div class="grid grid-cols-3 gap-2.5 w-99 bg-black  mx-auto text-red-500 text-3xl font-extrabold rounded-3xl">
  {% for i in range(3) %}
    <div class="grid grid-rows-3 gap-2.5  outline-blue-500">
      {% for j in range(3) %}
      <a href="{{ url_for('move', row=i, col=j) }}" class="bg-white aspect-square text-center flex items-center">
          {% if board[i][j] == " - " %}
          <p class="w-full text-center">-</p>
          {% else %}
          <p class="w-full text-center">{{ board[i][j] }}</p>
          {% endif %}
      </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div>

  {% if game_won == "X" %}
    <p>X won the game.</p>
  {% endif %}
  {% if game_won == "O" %}
    <p>O won the game.</p>
  {% endif %}
  {% if game_won == "draw" %}
    <p>The game is drawn.</p>
  {% endif %}

</div>

<br class="h-20">

<div class="flex items-center justify-center w-screen">
  <a href="{{ url_for('reset') }}">
    <div class="outline-gray-100 outline-1 font-bold hover:brightness-101 bg-linear-15 from-gray-200 from-10% via-gray-100 via-30% to-gray-50 to-90% w-md h-20 flex items-center justify-center rounded-3xl">
      Reset Game
    </div>
  </a>
</div>

</body>

</html>